.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.react-player {
  margin: 0;
  padding: 0;
}

.slider-wrapper {
  position: relative;
  width: 100%;
}

.thumbnail-slider-wrap {
  width: 100%;
  margin-top: 15px;
  height: 85px;
  position: absolute;
  left: 0;
  text-align: center;
  right: 0;
  bottom: 5%;
}

.thumbnail-slider-wrap .slick-track .slick-slide {
  text-align: center;
}

img.slick-slide-image, .thumbnail-slider-wrap .slick-slider.slick-initialized .slick-list .slick-track .slick-slide {
  max-width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 0 5px;
  box-sizing: border-box;
  outline: none;
}
.slick-slide.slick-active.slick-center.slick-current img {
  border: 5px solid #2196f3;
  text-align: center;
}
.thumbnail-slider-wrap .slick-slider.slick-initialized .slick-list {
  text-align: center;
  width: 500px;
  margin: 0 auto;
}

.thumbnail-slider-wrap .slick-slider.slick-initialized .slick-list .slick-track .slick-slide.slick-center.slick-cloned .slick-slide img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.thumbnail-slider-wrap .slick-slider.slick-initialized .slick-list .slick-track .slick-slide.slick-center.slick-cloned {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}